@use 'partial';

//Generel styling
*{
box-sizing: 0;
margin: 0;
padding: 0;
}

body{
font-family: partial.$font;
background-color: parial.$bg-color;

    p{
        font-size: 16px;
        color: $txt-color;
        line-height: 1.5;
    }

    h1, h2, h3, h4, h5, h6{
        font-weight: 600;
        color: partial.$txt-color;
    }
}

img{
    width: 100%;
    height: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

//Navigation

header{
    grid-column: 1/6;
    @include parial.flex($justify: space-between);
    background-color: partial.$nav-color;
    border-bottom: 4px solid partial.$primary-color;
}

nav{
    height: 4em;
    padding: 1em;
    @include parial.flex($justify: space-between);
    
        img{
            width: 70px;
        }

        ul{
            @include parial.flex;
            list-style-type: none;
        }

        a{
            color: partial.$txt-color;
            padding: partial.$padding;
            margin: partial.$padding;
            font-weight: bold;
            text-decoration: none;

            &hover{
                color: partial.$primary-color;
            }
        }

        //a:hover
        
}