//Variabler
$bg-color: #f0f0f0;
$nav-color: #fff;
$footer-color: #0a1f1c;
$primary-color: #3a8479;
$secondary-color: #133833;
$txt-color: #484848;
$font: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;


//Mixins

@mixin flex($justify:center,$align:center){
    display:flex;
    justify-content: $justify;
    align-items: $align;
}