//Variabler
$bg-color: #f0f0f0;
$nav-color: #fff;
$footer-color: #0a1f1c;
$primary-color: #3a8479;
$secondary-color: #133833;
$txt-color: #484848;
$font: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$padding: 0.5em;

//Mixins

@mixin flex($justify:center,$align:center){
    display:flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn($bg-color:$primary-color, $btn-padding: 0.8em 1em){
    background-color: $bg-color;
    padding: $btn-padding;
    color: #fff;
    text-decoration: none;

}

@mixin cta-box($width:20vw){
    width: $width;
    background-color: #FFF;
    padding: 2em;
    margin: 2em auto;
}